@model GetProductsPageVM

<h1>Gelen Kategori =>   @Model.Category.CategoryName</h1>

Yeni Urun Eklemek icin <a asp-controller="Product" asp-action="CreateProduct"> tıklayınız</a>

<table class="table table-hover">

    <thead>
        <tr>
            <th>Urun ID</th>
            <th>Urun Ismi</th>
            <th>Urun Fiyatı</th>
        </tr>
    </thead>

    <tbody>

      

        @foreach (Product item in Model.Products)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.ProductName</td>
                <td>@item.UnitPrice</td>
            </tr>
        }

@* 
        @foreach (Shipper item in Model.Shippers)
        {
            
        }
 *@



    </tbody>



</table>